<!--[gallery]-->
<div class="mt-gallery-canvas" style="right:<%=data.listWidth;%>px">
    <@module type="{{data.viewerType}}"/>
</div>
<div class="mt-gallery-desc"></div>
<div class="mt-gallery-thumbs" style="width:<%=data.listWidth;%>px">
    <@module type="{{data.listType}}"/>
</div>
<!--[imageviewer]-->
<div class="mt-imageviewer-tools">
    <%for(var i=0;i<data.tools.length;i++){%>
    <div class="mt-imageviewer-tools-btn" data-bind="click:btn" @cache(data.tools[i])>
        <svg class="mt-icon<%=(' '+data.tools[i].icon);%>"><use xlink:href="#<%=data.tools[i].icon;%>"></use></svg>
    </div>
    <%}%>
</div>
<!--[thumblist]-->
<%for(var i=0;i<data.length;i++){%>
<div class="mt-thumblist-item<%=(data[i].active?' hover':'');%>"">
    <div class="mt-thumblist-item-img" style="background-image:url(<%=data[i].img;%>)" data-bind="click:img" @cache(data[i])></div>
</div>
<%}%>
