<!--[gallery]-->
<div class="gallery-canvas" style="right:<%=data.listWidth;%>px">
    <@module type="{{data.viewerType}}"/>
</div>
<div class="gallery-desc"></div>
<div class="gallery-thumbs" style="width:<%=data.listWidth;%>px">
    <@module type="{{data.listType}}"/>
</div>
<!--[imageviewer]-->
<div class="imageviewer-tools">
    <%for(var i=0;i<data.tools.length;i++){%>
    <div class="imageviewer-tools-btn" data-bind="click:btn" @cache(data.tools[i])><i class="mt-photo-icon <%=data.tools[i].icon;%>"></i></div>
    <%}%>
</div>
<!--[thumblist]-->
<%for(var i=0;i<data.length;i++){%>
<div class="thumblist-item<%=(data[i].active?' hover':'');%>"">
    <div class="thumblist-item-img" style="background-image:url(<%=data[i].img;%>)" data-bind="click:img" @cache(data[i])></div>
</div>
<%}%>
