.mt-gallery{
    background:#333333;
    position:relative;
    width:100%;
    height:100%;
    overflow: hidden;
    user-select: none;
    cursor:default;
    .mt-gallery-canvas{
        position: absolute;
        left:0;
        top:0;
        bottom:0;
    }
    .mt-gallery-thumbs{
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        background:#F3F2F3;
        box-shadow: 0 0 10px #483E3E;
        transition:all .3s ease-out;
        .mt-gallery-thumbs-bar{
            width:15px;
            position: absolute;
            top:0;
            left:0;
            bottom:0;
            text-align: center;
            i{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:-5px;
                transition:all .3s ease-out;
            }
        }
    }
    .mt-gallery-desc{
        padding:10px;
        background:rgba(5,5,5,.3);
        position: absolute;
        left:0;
        bottom:30px;
        right:0;
        pointer-events:none;
        color:white;
    }
    .mt-mask{
        width:40px;
        height:40px;
        text-align: center;
        line-height: 40px;
        background:white;
        position: absolute;
        left:50%;
        top:50%;
        margin-left:-20px;
        margin-top:-20px;
        border-radius: 5px;
        .mt-con{
            position:absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            border-radius:5px;
            box-shadow:0 0 10px #403E3E inset;
        }
    }
}
.mt-imageviewer{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    canvas{
        position: absolute;
        left:0;
        top:0;
    }
    .mt-imageviewer-tools{
        line-height:30px;
        position: absolute;
        left:0;
        bottom:0;
        right:0;
        text-align: center;
        z-index:999;
        .mt-imageviewer-tools-btn{
            line-height: 30px;
            width:30px;
            display: inline-block;
            background:white;
            vertical-align:top;
            &:hover{
                background:#F0F0F0;
            }
        }
    }
}
.mt-thumblist{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    overflow:auto;
    .mt-thumblist-item{
        height: 0;
        border:1px solid #D7D7D7;
        background:white;
        position:relative;
        margin:5px;
        padding-bottom: 90%;
        .mt-thumblist-item-img{
            position:absolute;
            left:5px;
            top:5px;
            right:5px;
            bottom:5px;
            background-color:#E9EFF8;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &.hover{
            .mt-thumblist-item-img:after{
                content:"";
                width:0;
                height:0;
                display:block;
                border-top:10px solid #4DB849;
                border-right:10px solid #4DB849;
                border-bottom: 10px solid transparent;
                border-left:10px solid transparent;
                color:white;
                font-size:12px;
                position: absolute;
                right:0;
                top:0;
            }
        }
    }
}